h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.blog-ellips {
    max-height: 74px;
    overflow: hidden;
}

.promo-ellips {
    max-height: 80px;
    overflow: hidden;
}

.blog-img {
    max-width: 200px;
    height: 250px;
    object-fit: cover;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}