<template>
    <div>
        <table class="table table-striped table-hover" v-if="!isPostsLoading">
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="text-right"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="post in posts.data">
                    <td>{{post.title}}</td>
                    <td class="text-right">
                        <a :href="'/posts/' + post._id + '/edit'"
                           class="btn btn-sm btn-primary">
                            Edit
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example" v-if="!isPostsLoading && Math.ceil(posts.total/posts.per_page) > 1">
            <ul class="pagination justify-content-end">
                <li class="page-item" :class="{'disabled': !posts.prev_page_url}">
                    <button class="page-link"
                            tabindex="-1"
                            :aria-disabled="posts.prev_page_url == null"
                            v-on:click="loadPageByUrl(posts.prev_page_url)">Previous</button>
                </li>
                <li class="page-item" v-for="page in Math.ceil(posts.total/posts.per_page)" >
                    <button class="page-link"
                            v-on:click="loadPageByPage(page)">{{page}}</button>
                </li>
                <li class="page-item" :class="{'disabled': !posts.next_page_url}">
                    <button class="page-link"
                            v-on:click="loadPageByUrl(posts.next_page_url)"
                            :aria-disabled="posts.prev_page_url == null">Next</button>
                </li>
            </ul>
        </nav>
        <div v-if="hasError">Oops! Error occured.</div>
        <div v-if="isPostsLoading" class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        mounted() {
            loadPosts(this, '/posts', {});
        },
        data() {
            return {
                posts: [],
                isPostsLoading: true,
                hasError: false
            };
        },
        methods: {
            loadPageByUrl,
            loadPageByPage
        }
    }

    /**
     * Load page according to page nr.
     *
     * @param {Number} pageNr Page nr
     */
    function loadPageByPage(pageNr) {
        loadPosts(this, '/posts', { page: pageNr });
    }

    /**
     * Load page according to url.
     *
     * @param {String} url Url
     */
    function loadPageByUrl(url) {
        loadPosts(this, url, {});
    }

    /**
     * Load posts.
     *
     * @param {Object} component Vue component
     * @param {String} url       Url
     * @param {Object} params    Parameters
     */
    function loadPosts(component, url, params) {
        component.isPostsLoading = true;

        getPosts(url, params)
            .then(postsLoadSuccess.bind(this, component))
            .catch(postsLoadFail.bind(this, component));
    }

    /**
     * Post load success.
     *
     * @param {Object} component Vue component
     * @param {Object} response  Response
     */
    function postsLoadSuccess(component, response) {
        component.posts = response.data;
        component.isPostsLoading = false;
    }

    /**
     * Post load fail.
     *
     * @param {Object} component     Vue component
     * @param {Object} errorResponse Response
     */
    function postsLoadFail(component, errorResponse) {
        component.isPostsLoading = false;
        component.hasError = true;
    }

    /**
     * Get posts.

     * @param  {String} url  Url
     * @param  {Object} data Parameters
     *
     * @return {Promise}
     */
    function getPosts(url, data) {
        return axios.get(url, { params: data });
    }
</script>
