<template>
    <div>
        <a class="btn btn-secondary" href="/home">Go back</a>
        <h1 class="mt-4">{{ post == null ? 'Create post' : 'Edit post'}}</h1>
        <p v-if="success" class="alert alert-success" role="alert">
            Saved successfully.
        </p>
        <p v-if="errors.length" class="alert alert-danger" role="alert">
            <b>Please correct the following error(s):</b>
            <ul>
                <li v-for="error in errors">{{ error }}</li>
            </ul>
        </p>

        <p v-if="systemErrors.length" class="alert alert-danger" role="alert">
            Sorry something went wrong!
            <ul>
                <li v-for="error in systemErrors">{{ error }}</li>
            </ul>
        </p>

        <img v-if="post && post.coverImage" class="img-fluid" :src="'/storage/coverImages/' + post.coverImage" :alt="post.title" />

        <form name="create-post" @submit="formSubmit">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                </div>
                <div class="custom-file">
                    <input type="file" @change="onFileChanged" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>
            <div class="form-group">
                <label for="postTitle">Title</label>
                <input v-model="title" type="text" name="postTitle" class="form-control" id="postTitle" placeholder="My blog title" required>
            </div>
            <div class="form-group">
                <label for="postBody">Body</label>
                <ckeditor :editor="editor" v-model="body" :config="editorConfig"></ckeditor>
            </div>
            <div class="form-group">
                <label for="postTeaser">Teaser</label>
                <textarea rows="4" v-model="teaser" class="form-control" id="postTeaser" required=""></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button"
                    v-if="post != null"
                    class="btn btn-danger"
                    @click="formDelete">Delete</button>

        </form>
    </div>
</template>

<script>
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    export default {
        props: ['post'],
        data() {
            return {
                id: this.post ? this.post._id : null,
                title: this.post ? this.post.title : '',
                body: this.post ? this.post.body : '',
                teaser: this.post ? this.post.teaser : '',
                selectedFile: null,
                errors: [],
                editor: ClassicEditor,
                editorData: '<p>Content of the editor.</p>',
                editorConfig: {
                    // The configuration of the editor.
                },
                systemErrors: [],
                success: false
            };
        },
        methods: {
            formSubmit(e) {
                var title = this.title.trim();
                var body = this.body.trim();
                var teaser = this.teaser.trim();
                e.preventDefault();
                this.systemErrors = [];
                this.errors = [];
                this.success = false;

                if (validateForm(this, title, body, teaser)) {
                    var formData = new FormData()
                    formData.append('title', title);
                    formData.append('body', body);
                    formData.append('teaser', teaser);

                    if (this.selectedFile) {
                        formData.append('coverImage', this.selectedFile, this.selectedFile.name);
                    }

                    postForm(this, formData);
                }
            },
            formDelete,
            onFileChanged
        }
    }

    /**
     * File was changed.
     *
     * @param {Event} event Event
     */
    function onFileChanged(event) {
        this.selectedFile = event.target.files[0];
    }

    /**
     * Delete post.
     *
     * @param {Event} e Event
     */
    function formDelete(e) {
        if (this.post === null) {
            return;
        }

        axios.delete('/posts/' + this.id)
            .then(deleteSuccess)
            .catch(fail.bind(this, this));
    }

    /**
     * Delete success.
     */
    function deleteSuccess() {
        window.location = '/home';
    }

    /**
     * Validate form.
     *
     * @param {Object} component Vue component
     * @param {String} title     Title
     * @param {String} body      Body
     * @param {String} teaser    Teaser
     *
     * @return {Boolean}
     */
    function validateForm(component, title, body, teaser) {
        if (!title) {
            component.errors.push('Title required.');
        }

        if (!body) {
            component.errors.push('Body required.');
        }

        if (!teaser) {
            component.errors.push('Teaser required.');
        }

        return title && body && teaser;
    }

    /**
     * Post form.
     *
     * @param {Object} component Vue component
     * @param {Object} data      Data to post
     */
    function postForm(component, data) {
       var url = component.id == null ? '/posts' : '/posts/' + component.id;

        saveData(url, data, component.id)
            .then(success.bind(this, component))
            .catch(fail.bind(this, component));
    }

    /**
     * Post save was success.
     *
     * @param {Object} component    Vue component.
     * @param {Object} resonseError Response
     */
    function success(component, response) {
        if (component.id == null) {
            var postId = response.data.id;
            window.location = '/posts/' + postId + '/edit';
        }

        component.success = true;
    }

    /**
     * Post saving failed.
     *
     * @param {Object} component    Vue component.
     * @param {Object} resonseError Response
     */
    function fail(component, resonseError) {
        if (resonseError.response && resonseError.response.data.message) {
            component.systemErrors.push(resonseError.response.data.message);
        } else {
            component.systemErrors.push("Technical error!");
        }
    }

    /**
     * Save post.
     *
     * @param {String}      url  Url
     * @param {Object}      data Data to save
     * @param {String|null} id   Existing post id
     *
     * @return {Promise}
     */
    function saveData(url, data, id) {
        if (id === null) {
            return postData(url, data);
        }

        return putData(url, data);
    }

    /**
     * Create a new post.
     *
     * @param {String} url  Url
     * @param {Object} data Data
     *
     * @return {Promise}
     */
    function postData(url, data) {
        return axios.post(url, data);
    }

    /**
     * Update post.
     *
     * This should actually be PUT. But Laravel has a bug.
     * @see https://github.com/laravel/framework/issues/13457
     *
     * @param  {String} url  Url
     * @param  {Object} data Data
     *
     * @return {Promise}
     */
    function putData(url, data) {
        return axios.post(url, data);
    }
</script>
