<template>
    <div>
        <div class="row mb-2" v-if="!isPostsLoading">
            <div class="col-md-6" v-for="post in posts.data">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">World</strong>
                        <h3 class="mb-0">{{post.title}}</h3>
                        <div class="mb-1 text-muted">{{post.created_at}}</div>
                        <p class="card-text mb-auto blog-ellips">
                            {{ post.teaser }}
                        </p>
                        <a :href="'posts/' + post._id" class="stretched-link">Continue reading</a>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="blog-img img-fluid" v-if="post.coverImage" :src="'/storage/coverImages/' + post.coverImage" :alt="post.title" />
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation example" v-if="!isPostsLoading && Math.ceil(posts.total/posts.per_page) > 1">
            <ul class="pagination justify-content-end">
                <li class="page-item" :class="{'disabled': !posts.prev_page_url}">
                    <button class="page-link"
                            tabindex="-1"
                            :aria-disabled="posts.prev_page_url == null"
                            v-on:click="loadPageByUrl(posts.prev_page_url)">Previous</button>
                </li>
                <li class="page-item" v-for="page in Math.ceil(posts.total/posts.per_page)" >
                    <button class="page-link"
                            v-on:click="loadPageByPage(page)">{{page}}</button>
                </li>
                <li class="page-item" :class="{'disabled': !posts.next_page_url}">
                    <button class="page-link"
                            v-on:click="loadPageByUrl(posts.next_page_url)"
                            :aria-disabled="posts.prev_page_url == null">Next</button>
                </li>
            </ul>
        </nav>
        <div v-if="isPostsLoading" class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        mounted() {
            loadPosts(this, '/posts', {});
        },
        data() {
            return {
                posts: [],
                isPostsLoading: true
            };
        },
        methods: {
            loadPageByUrl,
            loadPageByPage
        }
    }

    /**
     * Load page according to page nr.
     *
     * @param {Number} pageNr Page nr
     */
    function loadPageByPage(pageNr) {
        loadPosts(this, '/posts', { page: pageNr });
    }

    /**
     * Load page according to url.
     *
     * @param {String} url Url
     */
    function loadPageByUrl(url) {
        loadPosts(this, url, {});
    }

    /**
     * Load posts.
     *
     * @param {Object} component Vue component
     * @param {String} url       Url
     * @param {Object} params    Parameters
     */
    function loadPosts(component, url, params) {
        component.isPostsLoading = true;

        getPosts(url, params)
            .then(postsLoadSuccess.bind(this, component))
            .catch(postsLoadFail.bind(this, component));
    }

    /**
     * Post load success.
     *
     * @param {Object} component Vue component
     * @param {Object} response  Response
     */
    function postsLoadSuccess(component, response) {
        component.posts = response.data;
        component.isPostsLoading = false;
    }

    /**
     * Post load fail.
     *
     * @param {Object} component     Vue component
     * @param {Object} errorResponse Response
     */
    function postsLoadFail(component, errorResponse) {
        component.isPostsLoading = false;
        console.log(errorResponse);
    }

    /**
     * Get posts.

     * @param  {String} url  Url
     * @param  {Object} data Parameters
     *
     * @return {Promise}
     */
    function getPosts(url, data) {
        return axios.get(url, { params: data });
    }
</script>
